body{
    background-color: pink;
}

table, th, td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
  }

  th {
      background-color: palevioletred;
  }

  td {
      background-color: lightsteelblue;
  }


fieldset {
    display: inline;
    background-color: lightsteelblue;
}

legend {
    background-color: palevioletred;
    padding: 3px 6px;
    border-style: double;
    border-width: 1px;
    border-color: black;
}

form {
    font-family: Arial, Helvetica, sans-serif;
}

