body{
    background-color: pink;
}

table, th, td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
  }

  th {
      background-color: palevioletred;
  }

  td {
      background-color: lightsteelblue;
  }


fieldset {
    display: inline;
    background-color: lightsteelblue;
}

legend {
    background-color: palevioletred;
    padding: 3px 6px;
    border-style: double;
    border-width: 1px;
    border-color: black;
}

form {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  input[type=submit] {
    width: 100%;
    background-color: palevioletred;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

